In [2]:
import os, json, ast
import pandas as pd
import numpy as np
from datetime import datetime
from pathlib import Path

In [158]:
# création d'un dataframe à partir du csv de données
job_events_df = pd.read_csv("../data/raw_unmerged/job_events.csv")
job_events_df_sup = pd.read_csv("../data/raw_unmerged/job_events-sup-20230101.csv")
job_events_df.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
job_events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48787 entries, 0 to 48786
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           48787 non-null  int64
 1   payload      48787 non-null  object
 2   received_at  48787 non-null  object
 3   machine_id   48787 non-null  int64
 4   tag          48787 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.9+ MB

In [159]:
job_events_df_sup.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
job_events_df_sup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42037 entries, 0 to 42036
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           42037 non-null  int64
 1   payload      42037 non-null  object
 2   received_at  42037 non-null  object
 3   machine_id   42037 non-null  int64
 4   tag          42037 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.6+ MB

In [160]:
job_events_merged_df = pd.concat([job_events_df, job_events_df_sup], ignore_index=True)
job_events_merged_df = job_events_merged_df.sort_values(by='received_at')

# Vérifier la fusion
job_events_merged_df.head()

,id,payload,received_at,machine_id,tag
47797,13269,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 10, ...",2021-06-18 09:22:32.478000,14,job-started
47798,13270,"{""path"": ""D:/IMAGES/Standard/3040459-52x74-350...",2021-06-18 09:22:32.584000,14,job-preview-ready
47799,13303,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 30, ...",2021-06-18 10:07:59.327000,14,job-started
47800,13304,"{""path"": ""D:/IMAGES/Standard/3040459-52x74-350...",2021-06-18 10:07:59.442000,14,job-preview-ready
47801,13308,"{""jobId"": ""1624010893"", ""jobState"": ""ERROR"", ""...",2021-06-18 10:10:07.879000,14,job-ended

In [161]:
job_events_merged_df.tail()

,id,payload,received_at,machine_id,tag
72536,885387,"{""path"": ""D:/IMAGES/Standard/3984224-vernis#1/...",2023-11-22 06:54:05.964000,14,job-preview-ready
72537,885388,"{""jobId"": ""1700636045"", ""jobState"": ""ERROR"", ""...",2023-11-22 06:55:09.914000,14,job-ended
72538,885391,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 10, ...",2023-11-22 06:56:27.749000,14,job-started
72539,885392,"{""path"": ""D:/IMAGES/Standard/3984224-vernis#1/...",2023-11-22 06:56:27.846000,14,job-preview-ready
72540,885397,"{""jobId"": ""1700636187"", ""jobState"": ""ERROR"", ""...",2023-11-22 06:57:34.167000,14,job-ended

In [162]:
print(len(job_events_merged_df))

90824

-----------------------------------------------

In [163]:
metrics_df = pd.read_csv("../data/raw_unmerged/metrics.csv")
metrics_sup_df = pd.read_csv("../data/raw_unmerged/metrics_sup.csv")

metrics_df.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
metrics_sup_df.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')

In [164]:
metrics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1164430 entries, 0 to 1164429
Data columns (total 17 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   id                         1164430 non-null  int64
 1   status                     1164430 non-null  object
 2   created_at                 1164430 non-null  object
 3   cyan_capacity              0 non-null        float64
 4   cyan_remaining             0 non-null        float64
 5   magenta_capacity           0 non-null        float64
 6   magenta_remaining          0 non-null        float64
 7   yellow_capacity            0 non-null        float64
 8   yellow_remaining           0 non-null        float64
 9   black_capacity             0 non-null        float64
 10  black_remaining            0 non-null        float64
 11  machineId                  1164430 non-null  int64
 12  connected_operators        1164430 non-null  object
 13  varnishLevelsTargetvolume  1164430 non-null  float64
 14  varnishLevelsTotalvolume   1164430 non-null  int64
 15  modules                    1164430 non-null  object
 16  events                     1164430 non-null  object
dtypes: float64(9), int64(3), object(5)
memory usage: 151.0+ MB

In [165]:
metrics_sup_df.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
metrics_sup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1411326 entries, 0 to 1411325
Data columns (total 21 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   id                          1411326 non-null  int64
 1   status                      1411326 non-null  object
 2   created_at                  1411326 non-null  object
 3   cyan_capacity               0 non-null        float64
 4   cyan_remaining              0 non-null        float64
 5   magenta_capacity            0 non-null        float64
 6   magenta_remaining           0 non-null        float64
 7   yellow_capacity             0 non-null        float64
 8   yellow_remaining            0 non-null        float64
 9   black_capacity              0 non-null        float64
 10  black_remaining             0 non-null        float64
 11  machineId                   1411326 non-null  int64
 12  connected_operators         1411326 non-null  object
 13  varnishLevelsTargetvolume   1411326 non-null  float64
 14  varnishLevelsTotalvolume    1411326 non-null  int64
 15  modules                     1411326 non-null  object
 16  events                      1411326 non-null  object
 17  sensors                     0 non-null        float64
 18  print_heads                 0 non-null        float64
 19  varnishLevelsWeightpercent  0 non-null        float64
 20  feeder_counter              0 non-null        float64
dtypes: float64(13), int64(3), object(5)
memory usage: 226.1+ MB

In [166]:
metrics_merged_df = pd.concat([metrics_df, metrics_sup_df], ignore_index=True)
metrics_merged_df = metrics_merged_df.sort_values(by='created_at')

In [167]:
metrics_merged_df.head()

,id,status,created_at,cyan_capacity,cyan_remaining,magenta_capacity,magenta_remaining,yellow_capacity,yellow_remaining,black_capacity,...,machineId,connected_operators,varnishLevelsTargetvolume,varnishLevelsTotalvolume,modules,events,sensors,print_heads,varnishLevelsWeightpercent,feeder_counter
307539,4169748,WARNING,2022-04-15 05:55:06.678000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",36192.322612,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[],NaN,NaN,NaN,NaN
307540,4169749,WARNING,2022-04-15 05:55:06.829000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",36192.322612,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...","[{""source"": ""PLC"", ""message"": "" JV-Ti non prêt...",NaN,NaN,NaN,NaN
307537,4169753,WARNING,2022-04-15 05:55:14.494000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",36192.322612,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[],NaN,NaN,NaN,NaN
307541,4169758,WARNING,2022-04-15 05:55:24.503000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",36192.322612,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[],NaN,NaN,NaN,NaN
307542,4169763,WARNING,2022-04-15 05:55:34.515000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",36192.322612,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[],NaN,NaN,NaN,NaN

In [168]:
metrics_merged_df.tail()

,id,status,created_at,cyan_capacity,cyan_remaining,magenta_capacity,magenta_remaining,yellow_capacity,yellow_remaining,black_capacity,...,machineId,connected_operators,varnishLevelsTargetvolume,varnishLevelsTotalvolume,modules,events,sensors,print_heads,varnishLevelsWeightpercent,feeder_counter
2575752,23933294,ERR,2023-11-22 09:04:49.093000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14,"[{""name"": ""Micka"", ""level"": ""Operator""}]",17478.224544,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[],NaN,NaN,NaN,NaN
2575753,23933311,ERR,2023-11-22 09:05:00.112000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14,"[{""name"": ""Micka"", ""level"": ""Operator""}]",17478.224544,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[],NaN,NaN,NaN,NaN
2575751,23933324,ERR,2023-11-22 09:05:09.129000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14,"[{""name"": ""Micka"", ""level"": ""Operator""}]",17478.224544,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[],NaN,NaN,NaN,NaN
2575755,23933339,ERR,2023-11-22 09:05:19.125000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14,"[{""name"": ""Micka"", ""level"": ""Operator""}]",17478.224544,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[],NaN,NaN,NaN,NaN
2575754,23933356,ERR,2023-11-22 09:05:29.684000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14,"[{""name"": ""Micka"", ""level"": ""Operator""}]",17478.224544,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[],NaN,NaN,NaN,NaN

-------------------------------

In [169]:
jobs_df = pd.read_csv("../data/raw_unmerged/jobs.csv")
jobs_sup_df = pd.read_csv("../data/raw_unmerged/jobs_sup.csv")

jobs_df.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
jobs_sup_df.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')

In [170]:
jobs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16295 entries, 0 to 16294
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                16295 non-null  int64
 1   thumbnail                         1497 non-null   object
 2   total_copies                      16201 non-null  float64
 3   started_at                        16295 non-null  object
 4   ended_at                          16201 non-null  object
 5   machineId                         16295 non-null  int64
 6   speed                             16295 non-null  int64
 7   operator                          16295 non-null  object
 8   operator_level                    16295 non-null  object
 9   first_page_image_path_on_machine  16289 non-null  object
 10  paperHeight                       16295 non-null  int64
 11  paperWidth                        16295 non-null  int64
 12  paperName                         578 non-null    object
 13  paperThickness                    16295 non-null  int64
 14  id_on_machine                     16295 non-null  int64
 15  total_copies_requested            16295 non-null  int64
 16  job_thumbnail_id                  16289 non-null  float64
 17  uses_ifoil                        16295 non-null  bool
 18  uses_iper                         16295 non-null  bool
 19  scanner_mode                      15893 non-null  float64
 20  iper_bvar_count                   15893 non-null  float64
 21  varnishConsumptionVarnish_3d      15818 non-null  float64
 22  varnishConsumptionVarnish_2d      0 non-null      float64
dtypes: bool(2), float64(6), int64(8), object(7)
memory usage: 2.6+ MB

In [171]:
jobs_sup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14104 entries, 0 to 14103
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                14104 non-null  int64
 1   thumbnail                         0 non-null      float64
 2   total_copies                      13822 non-null  float64
 3   started_at                        14104 non-null  object
 4   ended_at                          13822 non-null  object
 5   machineId                         14104 non-null  int64
 6   speed                             14104 non-null  int64
 7   operator                          14104 non-null  object
 8   operator_level                    14104 non-null  object
 9   first_page_image_path_on_machine  14104 non-null  object
 10  paperHeight                       14104 non-null  int64
 11  paperWidth                        14104 non-null  int64
 12  paperName                         0 non-null      float64
 13  paperThickness                    14104 non-null  int64
 14  id_on_machine                     14104 non-null  int64
 15  total_copies_requested            14104 non-null  int64
 16  job_thumbnail_id                  14104 non-null  int64
 17  uses_ifoil                        14104 non-null  bool
 18  uses_iper                         14104 non-null  bool
 19  scanner_mode                      14104 non-null  int64
 20  iper_bvar_count                   14104 non-null  int64
 21  varnishConsumptionVarnish_3d      13822 non-null  float64
 22  varnishConsumptionVarnish_2d      0 non-null      float64
 23  run                               2538 non-null   float64
 24  total_run                         2538 non-null   float64
 25  copies_per_run                    2491 non-null   float64
dtypes: bool(2), float64(8), int64(11), object(5)
memory usage: 2.6+ MB

In [172]:
jobs_merged_df = pd.concat([jobs_df, jobs_sup_df], ignore_index=True)
jobs_merged_df = jobs_merged_df.sort_values(by='started_at')

In [173]:
print(len(jobs_merged_df))

30399

In [174]:
jobs_merged_df.head()

,id,thumbnail,total_copies,started_at,ended_at,machineId,speed,operator,operator_level,first_page_image_path_on_machine,...,job_thumbnail_id,uses_ifoil,uses_iper,scanner_mode,iper_bvar_count,varnishConsumptionVarnish_3d,varnishConsumptionVarnish_2d,run,total_run,copies_per_run
0,5021,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,NaN,2021-06-18 09:22:46.866000,NaN,14,418,Distributor,Distributor,D:/IMAGES/Standard/3040459-52x74-350 CM-18-06-...,...,2383.0,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5034,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,3.0,2021-06-18 10:08:13.716000,2021-06-18 10:10:22.257000,14,313,Micka,Operator,D:/IMAGES/Standard/3040459-52x74-350 CM-18-06-...,...,2391.0,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5037,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,70.0,2021-06-18 10:11:52.165000,2021-06-18 10:18:20.294000,14,313,Micka,Operator,D:/IMAGES/Standard/3040459-52x74-350 CM-18-06-...,...,2393.0,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5042,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,NaN,2021-06-18 10:30:23.049000,NaN,14,700,Micka,Operator,D:/IMAGES/Standard/3035811-5coul#1/0000001 V01...,...,2397.0,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5062,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,NaN,2021-06-18 12:35:11.864000,NaN,14,700,Viktor,Operator,D:/IMAGES/Standard/3037332-vernis/3037332-vern...,...,2416.0,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [175]:
jobs_merged_df.tail()

,id,thumbnail,total_copies,started_at,ended_at,machineId,speed,operator,operator_level,first_page_image_path_on_machine,...,job_thumbnail_id,uses_ifoil,uses_iper,scanner_mode,iper_bvar_count,varnishConsumptionVarnish_3d,varnishConsumptionVarnish_2d,run,total_run,copies_per_run
30394,298203,NaN,0.0,2023-11-22 06:31:00.451000,2023-11-22 06:40:28.389000,14,261,Micka,Operator,D:/IMAGES/Standard/3984224-vernis#1/0000001 V0...,...,290191.0,False,True,1.0,2.0,0.000000,NaN,1.0,1.0,0.0
30395,298210,NaN,0.0,2023-11-22 06:41:04.192000,2023-11-22 06:43:37.718000,14,261,Micka,Operator,D:/IMAGES/Standard/3984224-vernis#1/0000001 V0...,...,290198.0,False,True,1.0,2.0,0.000000,NaN,1.0,1.0,0.0
30396,298216,NaN,2.0,2023-11-22 06:45:36.702000,2023-11-22 06:48:57.371000,14,261,Micka,Operator,D:/IMAGES/Standard/3984224-vernis#1/0000001 V0...,...,290204.0,False,True,1.0,2.0,3.107705,NaN,1.0,1.0,2.0
30397,298223,NaN,2.0,2023-11-22 06:54:05.741000,2023-11-22 06:55:09.775000,14,276,Micka,Operator,D:/IMAGES/Standard/3984224-vernis#1/0000001 V0...,...,290211.0,False,True,1.0,2.0,3.104654,NaN,1.0,1.0,2.0
30398,298224,NaN,1.0,2023-11-22 06:56:27.473000,2023-11-22 06:57:33.994000,14,276,Micka,Operator,D:/IMAGES/Standard/3984224-vernis#1/0000001 V0...,...,290212.0,False,True,1.0,2.0,1.551876,NaN,1.0,1.0,1.0

In [176]:
jobs_merged_df.to_csv("../data/raw/jobs.csv", index=False)

In [177]:
job_events_merged_df.to_csv("../data/raw/job_events.csv", index=False)

In [179]:
metrics_merged_df.to_csv("../data/raw/metrics.csv", index=False)

In [3]:
metrics_merged_df = pd.read_csv("../data/raw/metrics.csv")
job_events_merged_df = pd.read_csv("../data/raw/job_events.csv")
jobs_merged_df = pd.read_csv("../data/raw/jobs.csv")

In [4]:
# Charger les fichiers CSV
metrics_merged_df = pd.read_csv("../data/raw/metrics.csv")
job_events_merged_df = pd.read_csv("../data/raw/job_events.csv")
jobs_merged_df = pd.read_csv("../data/raw/jobs.csv")

# Convertir les colonnes de date
metrics_merged_df['created_at'] = pd.to_datetime(metrics_merged_df['created_at'])
job_events_merged_df['received_at'] = pd.to_datetime(job_events_merged_df['received_at'])
jobs_merged_df['started_at'] = pd.to_datetime(jobs_merged_df['started_at'])

# Trouver et afficher les valeurs maximales et minimales pour chaque DataFrame
max_date_metrics = metrics_merged_df['created_at'].max()
min_date_metrics = metrics_merged_df['created_at'].min()
print(f"metrics_merged_df - Date Min: {min_date_metrics}, Date Max: {max_date_metrics}")

max_date_job_events = job_events_merged_df['received_at'].max()
min_date_job_events = job_events_merged_df['received_at'].min()
print(f"job_events_merged_df - Date Min: {min_date_job_events}, Date Max: {max_date_job_events}")

max_date_jobs = jobs_merged_df['started_at'].max()
min_date_jobs = jobs_merged_df['started_at'].min()
print(f"jobs_merged_df - Date Min: {min_date_jobs}, Date Max: {max_date_jobs}")

metrics_merged_df - Date Min: 2022-04-15 05:55:06.678000, Date Max: 2023-11-22 09:05:29.684000
job_events_merged_df - Date Min: 2021-06-18 09:22:32.478000, Date Max: 2023-11-22 06:57:34.167000
jobs_merged_df - Date Min: 2021-06-18 09:22:46.866000, Date Max: 2023-11-22 06:56:27.473000